.nav {
    background-color: rgb(228, 228, 228);
    height: 60px;
    margin-bottom: 25px;
    display: flex;
    justify-content:flex-start;
    gap: 15px;
    align-items: center;
    padding-left: 20px;
    box-shadow: 0px 10px 12px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 10px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 12px -1px rgba(0,0,0,0.75);
}

.navButton {
    padding-block: 7px;
    padding-inline: 25px;
    color:white;
    background-color: grey;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    &:focus,
    &:hover {
        background-color: rgb(225, 162, 66);
    }   
}

